etcd:
  external:
    endpoints:
    {% for node in ETCD_NODES %}
    - https://{{ node }}:2379
    {% endfor %}

    caFile: /etc/kubernetes/ca/ca.pem
    certFile: /etc/kubernetes/ca/kubernetes.pem
    keyFile: /etc/kubernetes/ca/kubernetes-key.pem
networking:
  podSubnet: 20.8.0.0/16
apiServer:
  certSANs:
    - "{{ FLOATIP }}"
