{
  "signing": {
    "default": {
      "expiry": "108760h"
    },
    "profiles": {
      "kubernetes": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "108760h"
      }
    }
  }
}
